<!DOCTYPE html>
<html>
  <head>
    <title>TwitterClone</title>
    <meta name="viewport" content="width=device-width,initial-scale=1">
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>

    <%= stylesheet_link_tag "application", "data-turbo-track": "reload" %>
    <%= javascript_importmap_tags %>
  </head>

  <body>
    <% if notice %>
      <p class="notice bg-warning"><%= notice %></p>
    <% elsif alert %>
      <p class="alert bg-danger"><%= alert %></p>
    <% end %>
    <% if user_signed_in? %>
      Logged in as: <%= current_user.email %>
    <% end %>
    <%= render 'navbar/navbar' %>
    <%= yield %>
  </body>
</html>
